{% extends 'base.html.twig' %}

{% block title %}CompetencesReseau index{% endblock %}

{% block body %}
    <h1>CompetencesReseau index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>NiveauComp</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for competences_reseau in competences_reseaus %}
            <tr>
                <td>{{ competences_reseau.id }}</td>
                <td>{{ competences_reseau.nom }}</td>
                <td>{{ competences_reseau.niveauComp }}</td>
                <td>
                    <a href="{{ path('app_competences_reseau_show', {'id': competences_reseau.id}) }}">show</a>
                    <a href="{{ path('app_competences_reseau_edit', {'id': competences_reseau.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_competences_reseau_new') }}">Create new</a>
{% endblock %}
